@{
    ViewData["Title"] = "Integrantes";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 bg-light shadow rounded p-5 text-center">
            <h1 class="display-5 text-success mb-4">@ViewData["Title"]</h1>
            <p class="lead">Integrantes del Grupo:
                Sergio Masin
				<br />
                Carlos Moreta
				<br />
                Edwin Saa
            </p>
        </div>
    </div>
</div>

